// HOOP CUSTOMS
// ---------------

html {
	height:100%;
	margin-bottom:0.1px;
}

body {
}

#PageBackground {
	display:block;
	margin:0px auto 0px auto;
	min-height:100%;
	min-width:100%;
	padding:0;
	position:absolute;
	#gradient > .radial(lighten(@gray, 98%), lighten(@gray, 55%));
}

#UpperBackground {
	margin:0px auto 0px auto;
}

#UpperBackgroundFX {
	margin:0px auto 0px auto;
}

#FooterWrapper {
	margin:0px auto 0px auto;
}


// ADDITIONAL RESET
aside {
	margin: 0;
	padding: 0;
}

// CUSTOM VARIABLES

@headerHeight:             60px;

// THE GRID - DON'T TOUCH THIS IN ANY CIRCUMSTANCES OR YOU'LL GO TO HELL

#grid {

  .core (@gridColumnWidth, @gridGutterWidth) {
  
  	.span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }
  
  	// Set the container width, and override it for fixed navbars in media queries
    .navbar-simple-fixed .container { .span(@gridColumns); }
  
  }
  
}

// MAIN IMAGES TO REAL SIZE

figure, .figure {
	display: block;
	margin: 0;
	padding: 0;
}

// SEARCH FORM

#topsearch fieldset {
	width:25%;
	float:right;
}

#Search.field .middleColumn {
	float:left;
	
}

form#SearchForm_SearchForm .action {
	float:right;
	padding:4px 8px 4px 8px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
	border: 1px solid @btnBorder;
	*border: 0; // Remove the border to prevent IE7's black border on input:focus
	border-bottom-color: darken(@btnBorder, 10%);
	.border-radius(4px);
	.ie7-restore-left-whitespace(); // Give IE7 some love
	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");		
}

// NAVBAR CUSTOMIZATION
nav-collapse collapse {
	margin-bottom: 1em;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: @blue;
  background:none;
  box-shadow:none;
  text-shadow:none;
}

.navbar .nav > li > a {
	text-shadow:none;
}

.navbar .brand {
	text-shadow:none;
}

// NAVBAR STYLE "SIMPLE", NOT FIXED

.navbar-simple .navbar-inner {
//  #gradient > .vertical(@orange, @orange); 
	background:none;
	position:static;
	min-height:60px;
	line-height:60px;
	right: 0;
	left: 0;
	box-shadow:none;
	border:0;
	ul.nav li {
	line-height:@headerHeight;
	}
}

.navbar .nav {
	float:right;
	
}



// NAVBAR STYLE "SIMPLE-FIXED", IS FIXED

// Shared (top/bottom) styles
.navbar-simple-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for default navbar
}
.navbar-simple-fixed {
  .navbar-inner {
    border: 0;
  }
}
.navbar-simple-fixed .navbar-inner {
  padding-left:  0;
  padding-right: 0;
  .border-radius(0);
}

// Reset container width
// Required here as we reset the width earlier on and the grid mixins don't override early enough
.navbar-simple-fixed .container {
  #grid > .core > .span(@gridColumns);
}

// Fixed to top
.navbar-simple-fixed {
  top: 0;
}
.navbar-simple-fixed {
  .navbar-inner {
    .box-shadow(~"inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1)");
  }
}

// FRONTPAGE HERO ELEMENT
// Set min-width to hero on frontpage

.hero-unit.frontpage {
	min-height: 300px;
}


// ADDITIONAL TYPOGRAPHY

.subtitle {
	
	font-weight: normal;
}

.legals {
	font-size: 10px;
	text-transform: uppercase;
}

.navbar .brand {
	font-weight: bold;

}

// FRONTPAGE TYPOGRAPHY
// Featured boxes
.thumbnails.frontpage {
	text-align: center;
}

.thumbnails.frontpage .featuredinfo{
	color: @blue;
}


// ADDITIONAL LAYOUT CSS

// PageInfo is the last element on the page - usually contains some copyright information.

.pageinfo {
	color: @grayLight;
	text-align: center;
}

.MainImage {
	padding: 0;
	margin: 0;
}

// SLIDER IMAGE SCALING FIX

img.sliderimage {
	max-width: 100%;
	width: 100%;
}

// FEATURED
// ----------
// Note: `.featuredwrapper` and `.featuredwrapper > dd` are overriden in responsive files

// Make wrapper dl behave like the grid
.featuredwrapper {
	margin-left: -@gridGutterWidth;
	list-style: none;
	.clearfix();
}
// Fluid rows have no left margin
.row-fluid .featuredwrapper {
	margin-left: 0;
}

// Float dd to make thumbnails appear in a row
.featuredwrapper > dd {
	float: left; // Explicity set the float since we don't require .span* classes
	margin-bottom: @baseLineHeight;
	margin-left: @gridGutterWidth;
}

// The actual thumbnail (can be `a` or `div`)
.featured {
	display: block;
	padding: 4px;
	line-height: 1;
	border: 1px solid @grayLighter;
	.border-radius(4px);
	.box-shadow(0 1px 1px rgba(0,0,0,.075));
}
// Add a hover state for linked versions only
a.featured:hover {
	border-color: @linkColor;
	.box-shadow(0 1px 4px rgba(0,105,214,.25));
}

// Images and captions
.featured > img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.featured .caption {
	padding: 9px;
}

// CUSTOM STYLES FOR WYSIWYG EDITOR

.linkButton {
	.btn;
	.btn-primary;
}

.linkButton:hover {
	.btn-primary.active;
}

.intro {
	font-size:@baseFontSize * 2;
}

.textHighLightRed {
	color:@red;
}

.textHighLightGreen {
	color:@green;
}


// HR ELEMENT DESIGN

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

// JUMBOTRON ELEMENT
// Base class

.jumbotron {
  position: relative;
  min-height:500px;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: @baseFontSize*4;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: @baseLineHeight * 1.5;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: @white;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: @white;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
@-webkit-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
@-moz-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
.masthead .btn {
  padding: 14px 24px;
  font-size: @baseFontSize * 1.5;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
  -webkit-animation-name: downloadButton;
     -moz-animation-name: downloadButton;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;

}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}


// NIVOSLIDER 3.X TYPOGRAPHY DESIGN

.theme-hoop-simple .nivo-caption {
    font-family: @headingsFontFamily;
	color: @black;
}

.theme-hoop-simple .nivo-caption h1 {
	font-size: @baseFontSize * 4.6;
	line-height: @baseLineHeight * 4;
}

.theme-hoop-simple .nivo-caption h2 {
	font-size: @baseFontSize * 1.85;
	line-height: @baseLineHeight * 2;
}

.theme-hoop-simple .nivo-caption p {
	font-size: @baseFontSize * 1.38;
	line-height: @baseLineHeight * 1.5;
}

.theme-hoop-simple .nivo-caption .btn {
	padding: 10px;

}

.theme-hoop-simple .nivo-caption a {
	font-size: @baseFontSize * 1.38;
	line-height: @baseLineHeight * 1.5;

}